.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(112, 112, 112);
  padding: 40px 0;
}

.about-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}